<div class="container-fluid p-5">
    <div class="text-center">
        <p class="m-0 fs-2">© 2023 DataSense Solutions. Todos los derechos reservados.</p>
        <p class="mt-1 fs-4">Imágenes diseñadas por <a href="http://www.freepik.es/">Freepik</a></p>
    </div>
    <div class="container mt-4 d-flex justify-content-evenly">
        <a class="nav-link fs-4 pe-3 ps-3" aria-current="page" href="/about">Sobre Nosotros</a>
        <div>
            <a class="nav-link fs-4" href="/tools">Principales Herramientas</a>
            <a class="nav-link fs-4" href="/tools/tableau">Tableau</a>
        </div>
        <a class="nav-link fs-4 pe-3 ps-3" href="/learn">Aprendizaje</a>
        <a class="nav-link fs-4 pe-3 ps-3" href="/resources">Recursos</a>
        <a class="nav-link fs-4 pe-3 ps-3" href="/contact">Contacto</a>
    </div>