<div class="container-fluid text-center p-5">
    <p class="m-0 fs-2">© 2023 DataSense Solutions. Todos los derechos reservados.</p>
    <p class="mt-1 fs-4">Imágenes diseñadas por <a href="http://www.freepik.es/">Freepik</a></p>
</div>