<section class="container pt-4 mt-4 pb-4 mb-4">
    <div class="row align-items-center justify-content-between">
        <div class="col-12 col-lg-6 d-flex justify-content-center pb-4">
            <img class="introduction-img w-75" src="/imgs/data-impulse.jpg" alt="">
        </div>
        <div class="col-12 col-lg-6 pe-5 ps-5">
            <h3 class="display-3 fw-bold">Brillantez impulsada por datos</h3>
            <p class="display-6 introduction-description">DataSense Solutions deja perplejas a las empresas al ofrecer
                soluciones de análisis de datos y educación que te ayudan a tomar mejores decisiones. ¡Adopta una
                cultura de big data para destacar en el mercado!</p>
        </div>
    </div>
    <div class="row align-items-center justify-content-between pt-4">
        <div class="col-12 col-lg-6 pe-5 ps-5">
            <h3 class="display-3 fw-bold">Transforma datos sin procesar en inteligencia accionable</h3>
            <p class="display-6 introduction-description">Nuestros especialistas en datos de primer nivel convierten
                conjuntos de datos complejos en conocimientos significativos, otorgando a tu negocio una ventaja
                competitiva en el mundo impulsado por datos de hoy en día.</p>
        </div>
        <div class="col-12 col-lg-6 d-flex justify-content-center pt-4">
            <img class="introduction-img w-75" src="/imgs/data-transform.jpg" alt="">
        </div>
    </div>
</section>

<section class="container-fluid p-0 d-flex align-items-center justify-content-center flex-column" id="promotion">
    <div class="blur-bg">
        <div class="container-fluid d-flex align-items-center justify-content-center">
            <div class="">
                <h2 class="display-3 p-5 slogan fw-bold">Revoluciona tu proceso de toma de decisiones</h2>
            </div>
        </div>
        <div class="container pb-5">
            <h3 class="display-3 light-header text-center pt-3 pb-4">Experiencias</h3>
            <div class="row align-items-stretch justify-content-evenly">
                <div class="col-12 col-lg-4 pb-4 ps-4 pe-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="fs-2 card-text justified p-4">DataSense Solutions mejoró drásticamente la toma de decisiones de
                                nuestra empresa, desbloqueando nuevas oportunidades de crecimiento para nosotros.</p>
                        </div>
                        <div class="card-footer text-center">
                            <p class="fs-3 m-0">InnovaTech</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 pb-4 ps-4 pe-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="fs-2 card-text justified p-4">Sus talleres de análisis de datos fueron reveladores y hemos visto resultados fenomenales.</p>
                        </div>
                        <div class="card-footer text-center">
                            <p class="fs-3 m-0">NextGen SAS</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="container d-flex flex-column align-items-center justify-content-center mt-2 pt-4 pb-4" id="contact">
    <div>
        <h3 class="display-3 fw-bold text-center">¿Listo para abrazar el futuro del análisis de datos? Únete a DataSense Solutions hoy mismo.</h3>
    </div>
    <div class="pt-3">
        <a href="" class="btn btn-dark fs-3">Contáctanos</a>
    </div>
</section>