<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header class="background-wrapper">
        <%- include('./partials/header') %>
    </header>
    <main>
        <%- include('./partials/main') %>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>