<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
</head>

<body>
    <header class="background-wrapper">
        <%- include('./partials/header') %>
        <div class="container-fluid pb-3 pt-3">
            <div class="row justify-content-center align-items-center">
                <div class="slogan-container col-12 col-sm-10 col-md-10 col-lg-10 py-5">
                    <h1 class="slogan text-center pt-5 pb-5 display-1">¡Desata el poder del análisis de datos!</h1>
                </div>
            </div>
        </div>
    </header>
    <main>
        <%- include('./partials/main') %>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>