<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
</head>
<body>
    <header class="background-wrapper">
        <%- include('./partials/header') %>
    </header>    
    <main>
        <section class="container mt-5 mb-5 ratio ratio-16x9">
            <iframe class="embed-responsive-item" width="1280" height="720" src="https://www.youtube.com/embed/QGnLHnPIcKI?autoplay=1" title="GC" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </section>
    </main>
    <footer>
        <%- include('./partials/footer') %>
    </footer>
</body>
</html>